<div class="userWrapper" >
    <div>
        <div class="userHeaderForm">
            Имя Пользователя: <h2 ng-bind="user.userName"></h2>
            <div class="userCtrl">
                <div>
                    <button ng-click="exit()">Выход</button>
                </div>
                <form ng-submit="startWork()">
                    <label for="taskName">Введите имя задачи: </label>

                    <input type="text" name="taskName" id="taskName" class="form-control" ng-model="userTask.taskName" required />

                    <button type="submit" id="submit">Старт</button>
                </form>
            </div>

            <div class="refreshButton">
                <button ng-click="refreshGrid()">Обновить</button>
            </div>
            <h3>Все работы:</h3>
        </div>
        <div class="grid" >
            <!-- Binds the grid component to be displayed. -->
            <div class="gridStyle" ng-grid="gridOptions"></div>

            <pagination direction-links="true" boundary-links="true"
                        total-items="works.totalResults" items-per-page="works.pageSize"
                        ng-model="works.currentPage" ng-change="refreshGrid()"
                        previous-text="Предыдущая" next-text="Следующая"
                        first-text="Начало" last-text="Конец">
            </pagination>

        </div>
    </div>
</div>